@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Titillium+Web&display=swap');

body,html{
    height:100%;
    background-image: linear-gradient(-180deg, #422669 0%, #3f4a91 100%);
    /* font-family: 'Bebas Neue', sans-serif; */
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family: 'Titillium Web', sans-serif;
}

button{
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  /* font-family: 'Josefin Sans', sans-serif; */
  font-family: 'Titillium Web', sans-serif;

  font-size: large;
}

